#include "resource.h"

IDM_MAINMENU MENU DISCARDABLE
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Open File...", IDM_FILE_OPEN
		MENUITEM SEPARATOR
		MENUITEM "E&xit\tESC", IDM_FILE_EXIT
	END
	POPUP "&Camera"
	BEGIN
		MENUITEM "Reset &coordinates\tTAB", IDM_CAMERA_RESETCOORDS, GRAYED
	END
	POPUP "&Render"
	BEGIN
		MENUITEM "Use p&revious Entry Point\tF1", IDM_MAP_PREVDLIST, GRAYED
		MENUITEM "Use n&ext Entry Point\tF2", IDM_MAP_NEXTDLIST, GRAYED
	END
	POPUP "&Options"
	BEGIN
		POPUP "&Texture Filtering..."
		BEGIN
			MENUITEM "&Nearest", IDM_OPTIONS_FILTERNEAREST, GRAYED
			MENUITEM "&Linear", IDM_OPTIONS_FILTERLINEAR, GRAYED
			MENUITEM "&Linear (Mipmap)", IDM_OPTIONS_FILTERMIPMAP, GRAYED
		END
	END
	POPUP "&Help"
	BEGIN
		MENUITEM "&About...", IDM_HELP_ABOUT
	END
END
